/* COMMON */
h1 {
    padding-bottom: 20px;
}
img{
    height: 200px;
}
h3 {
    padding: 20px 0;
}
p {
    padding: 0 20px;
}
hr {
    margin-bottom: 80px;
}

/* ROW 1 */
#row-1 {
    text-align: center;
    margin: 100px 0 100px 0;
}

/* ROW 2 */
#row-2 {
    text-align: center;
    background-color: #f9f9f9;
}

/* ROW 3 */
#row-3 {
    text-align: center;
    margin-top: 100px;
    background-color: #f9f9f9;
}
#row-3 h1 {
    padding-bottom: 100px;
}
#row-3 img{
    height: 260px;
    padding: 30px;
    border-radius: 50%;
    background-color: #428bca;
}
#row-3 p {
    padding: 0 20px 10px 0;
}

@media screen and (min-width: 421px) and (max-width: 991px) {

    /* COMMON */
    img {
        height: 120px;
    }
    hr {
        display: none;
    }

    /* ROW 1 */
    #row-1 {
        text-align: center;
        padding: 50px 20px 20px 20px;
        margin-top: 0px;
        margin-bottom: 50px;
    }

    /* ROW 2 */
    #row-2 {
        text-align: center;
        background-color: #f9f9f9;
    }

    /* ROW 3 */
    #row-3 {
        text-align: center;
        margin-top: 50px;
        background-color: #f9f9f9;
    }
    #row-3 h1 {
        padding-bottom: 50px;
    }
    #row-3 img {
        height: 120px;
        padding: 20px;
        border-radius: 50%;
        background-color: #428bca;
    }

}

@media screen and (max-width: 420px) {

    /* COMMON */
    h1 {
        font-size: 25px;
    }
    h3 {
        font-size: 15px;
    }
    p {
        font-size: 12px;
    }

    /* ROW 1 */
    #row-1 {
        text-align: center;
        padding: 10px 10px 10px 10px;
        margin: 0;
        background-color: #f2f2cd;
    }
    #row-1 h1 {
        padding: 0;
    }
    #row-1 img{
        height: 120px;
        padding-top: 18px;
    }
    #row-1 h3 {
        padding: 0;
    }
    #row-1 p {
        padding: 0;
    }

    /* ROW 2 */
    #row-2 {
        text-align: center;
        padding: 10px 10px 10px 10px;
        background-color: #ffffff;
    }
    #row-2 h1 {
        padding: 0;
    }
    #row-2 img{
        height: 120px;
        padding-top: 18px;
    }
    #row-2 h3 {
        padding: 0;
    }
    #row-2 p {
        padding: 0;
    }

    /* ROW 3 */
    #row-3 {
        text-align: center;
        padding: 10px 10px 10px 10px;
        margin: 0;
        background-color: #f2f2cd;
    }
    #row-3 h1 {
        padding-bottom: 20px;
    }
    #row-3 img{
        height: 100px;
        padding: 20px;
        border-radius: 50%;
        background-color: #428bca;
    }
    #row-3 h3 {
        padding: 0;
    }
    #row-3 p {
        padding: 0;
    }
    #row-3 hr {
        display: block;
        margin-bottom: 20px;
        background-color: #000000;
    }

}
